<% include ../partials/header %>


<h1>Edit "<%=review.title%>"</h1>

<div class="container">
    <form action="/home/<%=review._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label>Title</label>
                <div><input name="review[title]" type="text" placeholder="Title" value="<%=review.title%>"></div>
            </div>
            <div class="form-group">
                <label>Author</label>
                <div><input name="review[author]" type="text" placeholder="Author" value="<%=review.author%>"></div>
            </div>
            <div class="form-group">
                <label>Image</label>
                <div><input name="review[cover]" type="text" placeholder="Cover" value="<%=review.cover%>"></div>
            </div>
            <div class="form-group">
                <label>Review</label>
                <div><input name="review[body]" type="text" placeholder="Review" value="<%=review.body%>"></div>
            </div>
            <div>
                <input type="submit">
            </div>
    </form>
</div>
    


<% include ../partials/footer %>